CONFIG_LOCALVERSION="-droidstation"

CONFIG_FB=y
CONFIG_FB_SIMPLE=y
#CONFIG_FB_EARLY=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y

#CONFIG_MTK_ATF_LOGGER=n
#CONFIG_MTK_AMMS=n
#CONFIG_MTK_ICE_DEBUG=n
#CONFIG_MTK_AEE_AED=n
#CONFIG_MTK_AEE_FEATURE=n
#CONFIG_MTK_AEE_IPANIC=n
#CONFIG_MTK_HANG_DETECT=n
#CONFIG_MTK_HANG_DETECT_DB=n
#CONFIG_MTK_DRAM_LOG_STORE=n
#CONFIG_MTK_DFD_INTERNAL_DUMP=n
#CONFIG_MTK_DBGTOP=n

CONFIG_LEGACY_PTYS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_I2C_COMPAT=y
CONFIG_I2C_CHARDEV=y
CONFIG_BINFMT_MISC=y

CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_NETFILTER_XT_MATCH_LIMIT=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_STATE=y
CONFIG_NETFILTER_XT_MATCH_TCPMSS=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NETFILTER_XT_TARGET_REJECT=y
CONFIG_NETFILTER_XT_TARGET_TCPMSS=y
CONFIG_IP6_NF_MATCH_RT=y

#CONFIG_KVM=y
#CONFIG_KVM_ARM_HOST=y
#CONFIG_KVM_ARM_PMU=y
#CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
#CONFIG_KVM_INDIRECT_VECTORS=y
#CONFIG_KVM_MMIO=y
#CONFIG_KVM_VFIO=y
#CONFIG_HAVE_KVM_ARCH_TLB_FLUSH_ALL=y
#CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
#CONFIG_HAVE_KVM_EVENTFD=y
#CONFIG_HAVE_KVM_IRQCHIP=y
#CONFIG_HAVE_KVM_IRQFD=y
#CONFIG_HAVE_KVM_IRQ_BYPASS=y
#CONFIG_HAVE_KVM_IRQ_ROUTING=y
#CONFIG_HAVE_KVM_MSI=y
#CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=y

CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_VIRTUALIZATION=y
CONFIG_ARM64_ERRATUM_834220=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_MMU_NOTIFIER=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_VHOST=y
CONFIG_VHOST_NET=y
CONFIG_VHOST_VSOCK=y

CONFIG_SYSVIPC=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_USER_NS=y
CONFIG_IPC_NS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PIDS=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POSIX_MQUEUE_SYSCTL=y